.container{
	position: relative;
	perspective: 800px;
}

.flipped{
	-webkit-transform: rotateY( -180deg );
         -moz-transform: rotateY( -180deg );
           -o-transform: rotateY( -180deg );
              transform: rotateY( -180deg );
}


.blocks{
	width: 130px;
	height: 130px;
	float: left;
	background-color: lightgrey;
	border: 1px solid black;
}